<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->
<!-- INTERVENTION FORM -->
<% if user_signed_in? && current_user.is_employee(current_user.email) %> 
  <li>

  

<br/><br/><br/><br/><br/>
<%= form_tag "/intervention", method: 'post' do %>
<div id="formbackground" style="background-image: url('/assets/background_elevator.jpg');">
	<div class="container  formStyle">
    <br/><br/><br/><br/><br/><br/><br/><br/>
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<!-- entity selector--> 
			<%= form_for @intervention do |f| %>
            <div class="field">
			<%= f.label :CustomerID, "Client" %><br />
             <%= f.collection_select :CustomerID, Customer.order(:id), :id, :contact_full_name, include_blank: true  %>
            </div>
			<div class="field" id="Building">
				<%= f.label :BuildingID, "Building" %><br />
				<%= f.grouped_collection_select  :BuildingID, Customer.order(:id), :buildings, :contact_full_name, :id, :id, include_blank: true %>
			</div>
			<div class="field">
				<%= f.label :BatteryID, "Battery" %><br />
				<%= f.grouped_collection_select :BatteryID, Building.order(:id), :batteries, :id, :building_id, :id, include_blank: true %>
			</div>
			<div class="field">
				<%= f.label :ColumnID, "Column" %><br />
				<%= f.grouped_collection_select :ColumnID, Battery.order(:id), :columns, :id, :battery_id, :id, include_blank: true %>
			</div>
			<div class="field">
				<%= f.label :ElevatorID, "Elevator" %><br />
				<%= f.grouped_collection_select :ElevatorID, Column.order(:id), :elevators, :id, :column_id, :id, include_blank: true %>
			</div>				
                                                      
                <!-- /entity selector -->
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<!-- employee selector--> 
            <div class="field">
			<%= f.label :EmployeeID, "Employee" %><br />
             <%= f.collection_select :EmployeeID, Employee.order(:id), :id, :firstName, include_blank: true  %>
            </div>                                                   
                <!-- /employee selector -->
			</div>
		</div>       
		<div class="row">
			<%# <input class="basicInfos" name ="Description" type="text" id="description" placeholder="Description*" required> %>
    <%= f.label :Description %><br />
    <%= f.text_field :Report %>
		</div>

		<div classs="row">
			<div class="col-md-12 d-flex justify-content-center addTo">
				<%# BUTTON SUBMIT %>
				  <div class="actions"><%= f.submit %></div>
				<%# <input class="btn btn-outline-success btn-lg submitBtn submission_form" type="submit" value="Add to the intervention list" /> %>
			</div>
		</div>
	</div>
	<!-- /result inputs -->
</div>
<%end%>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   
<%end%>

	</li>
<% else %>
	


<div style="background-image: url('/assets/background_elevator.jpg');">
	<div class="container">
	    <br/><br/><br/><br/><br/><br/><br/><br/>

<h1> Please Log in by pressing the button below to acess this section, Thank you!</h1>


</div>
<h2>	<%= link_to('Login', new_user_session_path) %>  </h2>
</div>
<%end%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

clients = $('#intervention_CustomerID').html()
//  console.log(clients)
buildings = $('#intervention_BuildingID').html()
// console.log(buildings)
batteries = $('#intervention_BatteryID').html()
// console.log(batteries)
columns = $('#intervention_ColumnID').html()
// console.log(columns)
elevators = $('#intervention_ElevatorID').html()
// console.log(elevators)


  $('#intervention_BuildingID').parent().hide();
    $('#intervention_BatteryID').parent().hide();

  $('#intervention_CustomerID').change(function() {

  client = $('#intervention_CustomerID :selected').text();

  options = $(buildings).filter("optgroup[label='" + client + "']").html();

  if (options) {
    $('#intervention_BuildingID').html(options);
    $('#intervention_BuildingID').parent().show();
  } else {
    $('#intervention_BuildingID').empty();
    $('#intervention_BuildingID').parent().hide();
  }

});



  $('#intervention_BuildingID').change(function() {

  building = $('#intervention_BuildingID :selected').text();

  options = $(batteries).filter("optgroup[label='" + building + "']").html();

  if (options) {
    $('#intervention_BatteryID').html(options);
    $('#intervention_BatteryID').parent().show();
  } else {
    $('#intervention_BatteryID').empty();
    $('#intervention_BatteryID').parent().hide();
  }

});

// $('#intervention_BuildingID').parent().hide()
//  $("#intervention_CustomerID").change(function(){
//    client = $('#intervention_CustomerID :selected').text()
//    escaped_client = client.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1')
//    options = $(buildings).filter("optgroup[label='#{escaped_client}']").html()
//    if (options == true) {
//    $('#intervention_BuildingID').html(options)
//    $('#intervention_BuildingID').parent().show()  }
//    else{ 
//    $('#intervention_BuildingID').empty()
//    $('#intervention_BuildingID').parent().hide() }
   
//    })
//   $('#intervention_BuildingID').hide()
//   buildings = $('#intervention_BuildingID').html()
//   console.log(buildings)
//   $('#intervention_CustomerID').change(function () {
// 	    client = $('#intervention_CustomerID :selected').text()
//   escaped_client = client.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1')
//   options = $(buildings).filter("optgroup[label='#{escaped_client}']").html()
//   if options 
//   $('#intervention_BuildingID').html(options)
//   $('#intervention_BuildingID').parent().show()
//   else
//   $('#intervention_BuildingID').empty()
//   $('#intervention_BuildingID').parent().hide()
//   })

// intervention_BatteryID, intervention_ColumnID, intervention_ElevatorID, 
</script>