<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->
<!-- INTERVENTION FORM -->
<% if user_signed_in? && current_user.is_employee(current_user.email) %> 
  <li>

<br/><br/><br/><br/><br/>

<%= form_tag "/intervention", method: 'post' do %>
<div id="formbackground" style="background-image: url('/assets/background_elevator.jpg');">
	<div class="container  formStyle">
	  <h1> Intervention Request Form </h1>
	  <h3> Please start by selecting the client</h3>
    <br/><br/><br/><br/><br/><br/><br/><br/>
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<!-- entity selector--> 
			<%= form_for @intervention do |f| %>
            <div class="field">
			<%= f.label :"Client Name" %><br />
             <%= f.collection_select :CustomerID, Customer.order(:id), :id, :contact_full_name, include_blank: true, :required => true %>
            </div>
			<div class="field" id="Building">
				<%= f.label :"Building ID" %><br />
				<%= f.grouped_collection_select  :BuildingID, Customer.order(:id), :buildings, :contact_full_name, :id, :id, include_blank: true, :required => true %>
			</div>
			<div class="field">
				<%= f.label :"Battery ID" %><br />
				<%= f.grouped_collection_select :BatteryID, Building.order(:id), :batteries, :id, :building_id, :id, include_blank: true, :required => true %>
			</div>
			<div class="field">
				<%= f.label :"Column ID" %><br />
				<%= f.grouped_collection_select :ColumnID, Battery.order(:id), :columns, :id, :battery_id, :id, include_blank: true , :required => true%>
			</div>
			<div class="field">
				<%= f.label :"Elevator ID" %><br />
				<%= f.grouped_collection_select :ElevatorID, Column.order(:id), :elevators, :id, :column_id, :id, include_blank: true, :required => true %>
			</div>				
                                                      


				<!-- Author selection--> 
			</div>
		</div>
 <%= f.hidden_field :Author, { :value => current_user.id } %>
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<!-- employee selection--> 
            <div class="field">
			<%= f.label :"Employee Name" %><br />
             <%= f.collection_select :EmployeeID, Employee.order(:id), :id, :firstName, {:prompt => "None"}, include_blank: true , :required => true%>
            </div>                                                   
                <!-- / Description Select -->
			</div>
		</div>       
		<div class="row">
    <%= f.label :"Description: " %><br />
    <%= f.text_field :Report, :required => true %>
		</div>

		<div classs="row">
			<div class="col-md-12 d-flex justify-content-center addTo">
				<%# BUTTON SUBMIT %>
				  <div class="actions"><%= f.submit %></div>

			</div>
		</div>
	</div>

</div>
<%end%>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   
<%end%>

	</li>
<% else %>
	


<div style="background-image: url('/assets/background_elevator.jpg');">
	<div class="container">
	    <br/><br/><br/><br/><br/><br/><br/><br/>

<h1> Only emloyess can log in by pressing the button below to acess this section, Thank you!</h1>


</div>
<h2>	<%= link_to('Login', new_user_session_path) %>  </h2>
</div>
<%end%>
	<!-- /JavaScript/JQuery inputs -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

clients = $('#intervention_CustomerID').html()
//  console.log(clients)
buildings = $('#intervention_BuildingID').html()
// console.log(buildings)
batteries = $('#intervention_BatteryID').html()
// console.log(batteries)
columns = $('#intervention_ColumnID').html()
// console.log(columns)
elevators = $('#intervention_ElevatorID').html()
// console.log(elevators)






  $('#intervention_BuildingID').parent().hide();
 $('#intervention_BatteryID').parent().hide();
   $('#intervention_ColumnID').parent().hide();
     $('#intervention_ElevatorID').parent().hide();
  $('#intervention_CustomerID').change(function() {

  client = $('#intervention_CustomerID :selected').text();

  options = $(buildings).filter("optgroup[label='" + client + "']").html();

  if (options) {
	//  console.log('here1');
	 blank_selected_option = '<option selected="selected"></option>'
	 options = blank_selected_option + options;
	//   console.log(options);
    $('#intervention_BuildingID').html(options).parent().show();

  } else {
    $('#intervention_BuildingID').empty().parent().hide();
   
  }


  $('#intervention_BuildingID').change(function() {

  building = $('#intervention_BuildingID :selected').text();

  options = $(batteries).filter("optgroup[label='" + building + "']").html();

  if (options) {
	 blank_selected_option = '<option selected="selected"></option>'
	 options = blank_selected_option + options;
    $('#intervention_BatteryID').html(options).parent().show();

  } else {
    $('#intervention_BatteryID').empty().parent().hide();
  }



  $('#intervention_BatteryID').change(function() {

  battery = $('#intervention_BatteryID :selected').text();

  options = $(columns).filter("optgroup[label='" + battery + "']").html();

  if (options) {
	 none_selected_option = '<option selected="selected" value="None">None</option>'
	 options = none_selected_option + options;
    $('#intervention_ColumnID').html(options).parent().show();

  } else {
    $('#intervention_ColumnID').empty().parent().hide();
  }


  $('#intervention_ColumnID').change(function() {

  column = $('#intervention_ColumnID :selected').text();

  options = $(elevators).filter("optgroup[label='" + column + "']").html();

  if (options) {
	 none_selected_option = '<option selected="selected" value="None">None</option>'
	 options = none_selected_option + options;
    $('#intervention_ElevatorID').html(options).parent().show();

  } else {
    $('#intervention_ElevatorID').empty().parent().hide();
  }

});

});

});

});





</script>